@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.main {
  background-color: hsl(226, 43%, 10%);
  width: 90%;
  padding: 5rem 0 5rem 12rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    transform: translate(0);
    gap: 0.2rem;
  }
}
